################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoreAppSample/CoreAppSample/bin
/CoreAppSample/.vs/CoreAppSample/v15
